/* app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 236 33% 92%;
    --foreground: 210 36% 14%;
    --card: 0 0% 100%;
    --card-foreground: 210 36% 14%;
    --popover: 240 16% 98%;
    --popover-foreground: 210 36% 14%;
    --primary: 190 85% 49%;
    --primary-foreground: 210 40% 98%;
    --secondary: 170 75% 50%;
    --secondary-foreground: 210 40% 98%;
    --muted: 210 25% 85%;
    --muted-foreground: 210 36% 14%;
    --accent: 140 80% 42%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 76% 67%;
    --destructive-foreground: 210 40% 98%;
    --border: 214 25% 83%;
    --input: 214 25% 83%;
    --ring: 210 85% 58%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 210 36% 14%;
    --foreground: 236 33% 92%;
    --card: 210 36% 14%;
    --card-foreground: 236 33% 92%;
    --popover: 210 27% 17%;
    --popover-foreground: 236 33% 92%;
    --primary: 190 85% 49%;
    --primary-foreground: 236 33% 92%;
    --secondary: 170 75% 50%;
    --secondary-foreground: 236 33% 92%;
    --muted: 210 25% 30%;
    --muted-foreground: 236 33% 92%;
    --accent: 140 80% 42%;
    --accent-foreground: 236 33% 92%;
    --destructive: 0 76% 67%;
    --destructive-foreground: 236 33% 92%;
    --border: 210 25% 30%;
    --input: 210 25% 30%;
    --ring: 210 85% 58%;
  }
}

@layer utilities {
  .bg-grid-black {
    background-size: 40px 40px;
    background-image: linear-gradient(to right, rgb(0 0 0 / 0.1) 1px, transparent 1px),
      linear-gradient(to bottom, rgb(0 0 0 / 0.1) 1px, transparent 1px);
  }

  .bg-grid-white {
    background-size: 40px 40px;
    background-image: linear-gradient(to right, rgb(255 255 255 / 0.1) 1px, transparent 1px),
      linear-gradient(to bottom, rgb(255 255 255 / 0.1) 1px, transparent 1px);
  }
}